{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Change you password{% endblock %}

{% block content %}
    <div class="container mt-2">
         <div class="row">
             <div class="col-md-6 offset-md-3">
                <h1>Change you password</h1>
                <p>Use the form below to change your password.</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p class="mt-2"><input class="btn btn-primary" type="submit" value="Change"></p>
                </form>
             </div>
         </div>
    </div>
{% endblock %}