{% extends 'base.html' %}

{% load thumbnail %}

{% load static %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
<div class="container mt-2">
         <div class="row">
            <h1>{{ image.title }}</h1>
            <hr>
             <div class="col-6">
                 {% thumbnail image.image "300" as im %}
                    <a href="{{ image.image.url }}">
                        <img src="{{ im.url }}" class="img-fluid rounded">
                    </a>
                 {% endthumbnail %}
             </div>
             <div class="col-6">
                 {% with total_likes=image.user_like.count users_like=image.user_like.all %}
                        
                        <a id='like' href="#"  data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like">
                            <h3>
                                <div>
                                    <svg id='icon' xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" style="color:{% if request.user in users_like %}red{% endif %}">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                    <span id="total"  >{{ total_likes }} </span>like{{ total_likes|pluralize }}
                                </div>
                                
                            </h3>
                        </a>
                        <p>{{ image.description|linebreaks }}</p>
                    

                    <div class="image-likes">
                        {% for user in image.user_like.all %}
                
                        <div class="col-md-1">
                            <img src="{{ user.profile.avatar.url }}" class="img-fluid rounded" style="width:30px;">
                            <p>{{ user.first_name }}</p>
                        </div>
                       
                            
                        {% empty %}
                            Nobody likes this image yet.
                        {% endfor %}
                    </div>
                {% endwith %}
             </div>
         </div>
</div>
<script src="{% static 'js/like.js'%}" ></script>
{% endblock %}